<h1>
  Searching for: {{term}}
</h1>

<app-searchbox
	[suggestions]="['Bats', 'Hats', 'Mats', 'Tea and Toast']"
	[term]="term"
	(search)="handleSearch($event)"></app-searchbox>
<!--
<h2 *ngIf="attacker">
	{{attacker.name}} attacked with {{attacker.armaments}}
</h2>
<h2 *ngIf="runAway">
	{{runAway.name}} ran away
</h2>
<app-cat
	[cat]="tabby"
	(attack)="attacker = $event"
	(run)="runAway =$event">
</app-cat>

<app-cat
	[cat]="shabby"
	(attack)="attacker = $event"
	(run)="runAway =$event">
</app-cat>

 -->
<!-- <div *ngIf="attacker">{{attacker.name}} attacked with {{attacker.armaments}}</div> -->

<router-outlet></router-outlet>
